body {
  font-family: Montserrat;
}

button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049bf;
}

.home {
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

.home h1 {
  font-size: 50px;
}

.home p {
  max-width: 500px;
}

.column {
  flex: 1;
  
}

.black-btn {
  background-color: #252525;
}

.black-btn:hover {
  background-color: #2525257f;
}

.second {
  justify-content: center;
  display: flex; 
}


.dashboard-image {
  
width: auto;
 max-width: 400px;
 animation: createBox 3.25s;
 
}
@keyframes createBox {
 from {
   transform: scale(0);
 }
 to {
   transform: scale(1);
 }
}



  /* App.css */

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
   
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu li {
    margin-right: 60px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }

  input[type='checkbox'] {
    display: none;
  }
  
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .popup-inner {
    background-color: #fff;
    padding: 40px;
    max-width: 500px;
    border-radius: 4px;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .buttons button {
    margin-left: 10px;
    border-radius: 4px;
  }
  
  .employee-table {
    text-align: center;
  }

 

  .delete-btn {
    background-color: #e74e20;
  }

  .delete-btn:hover {
    background-color: #e74f2085;
  }
  
  
.add-btn {
    margin: 20px 0px;
}

.employee-table h2{
   font-size: 30px;
}

  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  

  
  th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
   
    font-weight: bold;
  }
  
  thead tr{
    background-color: #515151;
    color: #ffffff;
   
    }
  
    .employee-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
  
  .employee-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }
  
  .employee-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }

  .employee-table tbody tr:hover {
   background-color: #00987a21;
}


  /* Media Query for Mobile */
@media (max-width: 767px) {

    .menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #333;
      padding: 10px;
      width: 100%;
      text-align: center;
      z-index: 10;
    }

    .menu-icon {
      display: block;
      position: relative;
      cursor: pointer; /* Add this line */
      padding: 10px; /* Add this line */
      margin-right: 10px;
    }
  
    .menu-icon span,
    .menu-icon span:before,
    .menu-icon span:after {
      content: '';
      display: block;
      background-color: #fff;
      height: 2px;
      width: 24px;
      border-radius: 2px;
      position: absolute;
      transition: all 0.3s ease;
    }
  
    .menu-icon span:before {
      top: -6px;
    }
  
    .menu-icon span:after {
      top: 6px;
    }
  
    input[type='checkbox'] {
      display: none;
    }
  
    input[type='checkbox']:checked ~ .menu {
        display: flex;
        position: absolute;
        top: 60px;
        padding: 30px 0px;
        flex-direction: column;
    }
  
    input[type='checkbox']:checked ~ .menu-icon span:before {
      content: '';
      top: 0;
      transform: rotate(45deg);
    }
  
    input[type='checkbox']:checked ~ .menu-icon span:after {
      content: '';
      top: 0;
      transform: rotate(-45deg);
    }

    .menu li {
      margin-right: 0px;
      margin-bottom: 10px;
  }

    .home {
      margin: 0 auto;
      max-width: 1300px;
      display: flex;
      align-items: flex-start;
      padding: 20px;
      margin-top: 32px;
      flex-direction: column;
      flex-wrap: wrap;
  }

  .dashboard-image {
    margin-top: 40px;
  }
 .employee-table table{
  transform: scale(0.86);
 }
  }
  
  